.parent{
  border:2px dotted blue;
  margin:10px auto;
  width: 820px;
  padding:14px 18px;
}

.child{
  border:2px solid black;
  width:69px;
  text-align:center;
  display:inline-block;
  margin:5px 2px;
  border-radius:4px;
  background-color:turquoise;

}
@media (max-width: 600px) {
  .parent{
    display:flex;
    flex-wrap:wrap;
    width:400px;
    margin:20px auto;
  }
}